Repository RMeli/spyrmsd: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy

black:
  name: black .
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: mypy
  pass_filenames: false

build docs
  docs/source/api/spyrmsd.exceptions.rst
  docs/source/api/spyrmsd.rst
Due: none

try to install package before deployment
  .github/workflows/pypi.yml
Due: none

add correct version on PyPI
  README.md
Due: none

Update CITATION.cff
  CITATION.cff
Due: none

Update README.md
  README.md
Due: none

remove lgtm
  README.md
  spyrmsd/__init__.py
  spyrmsd/due.py
  spyrmsd/hungarian.py
  spyrmsd/qcp.py
Due: black, flake8, mypy

apply black
  spyrmsd/__main__.py
  spyrmsd/io.py
  spyrmsd/qcp.py
  spyrmsd/rmsd.py
  tests/test_benchmarks.py
  tests/test_graph.py
  tests/test_hungarian.py
  tests/test_io.py
  tests/test_molecule.py
  tests/test_qcp.py
  tests/test_rmsd.py
  tests/test_utils.py
Due: black, flake8, mypy

update python in CI
  .github/workflows/flake8.yml
  .github/workflows/mypy.yml
  .github/workflows/pytest.yml
Due: none

bumped minimum python version to 3.7 to match CI
  pyproject.toml
  setup.py
Due: black, mypy

changelog
  CHANGELOG.md
Due: none

update versioneer
  .gitattributes
  CHANGELOG.md
  spyrmsd/_version.py
  versioneer.py
Due: black, flake8, mypy

update github actions
  .github/workflows/flake8.yml
  .github/workflows/mypy.yml
  .github/workflows/pypi.yml
  .github/workflows/pytest.yml
  CHANGELOG.md
Due: none

update e-mail
  pyproject.toml
  setup.py
Due: black, mypy

add short section on rdkit loading
  docs/source/tutorials/tutorial.ipynb
Due: none

pin sphinx and change theme
  devtools/conda-envs/spyrmsd-all.yaml
  devtools/conda-envs/spyrmsd-docs.yaml
  docs/README.md
  docs/source/conf.py
Due: black, flake8, mypy

revert to RTD theme because of Furo problems with Jupyter notebooks
  devtools/conda-envs/spyrmsd-all.yaml
  devtools/conda-envs/spyrmsd-docs.yaml
  docs/README.md
  docs/source/conf.py
  docs/source/tutorials/tutorial.rst
Due: black, flake8, mypy

better error message when rdkit or openbabel are not installed
  spyrmsd/__main__.py
Due: black, flake8, mypy

add note to readme
  README.md
Due: none

remove outdate info about rdkit
  README.md
  docs/source/installation.rst
Due: none

add rdkit and openbabel extra_requires
  setup.py
Due: black, mypy

remove openbabel2 support
  .coveragerc
  spyrmsd/optional/obabel.py
Due: black, flake8, mypy

update pre-commit hooks
  .pre-commit-config.yaml
Due: none

apply pre-commit hooks
  .codecov.yml
  .coveragerc
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/empty-issue.md
  .github/workflows/flake8.yml
  .github/workflows/mypy.yml
  .readthedocs.yml
  MANIFEST.in
  credits.sh
  devtools/README.md
  docs/README.md
  docs/source/api.rst
  docs/source/tutorials/tutorial.ipynb
  docs/source/tutorials/tutorial.rst
  setup.cfg
  spyrmsd/_version.py
  tests/data/README.md
  tests/data/molecules/1a99_ligand.pdb
  tests/data/molecules/1cbr_docking.pdb
  tests/data/molecules/1cbr_ligand.mol2
  tests/data/molecules/2viz_1.sdf
  tests/data/molecules/2viz_2.sdf
  tests/data/molecules/2viz_3.sdf
  tests/data/molecules/benzene.xyz
  tests/data/molecules/ethanol.xyz
  versioneer.py
Due: black, flake8, mypy

add pre-commit action
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  setup.cfg
Due: none

apply fixes
  .github/workflows/pre-commit.yml
  CHANGELOG.md
  docs/README.md
  docs/source/tutorials/tutorial.rst
  setup.py
  spyrmsd/__main__.py
  spyrmsd/optional/obabel.py
Due: black, flake8, mypy

explude problematic setup from CI
  .github/workflows/pytest.yml
Due: none

update changelog
  CHANGELOG.md
Due: none

update readme style
  README.md
Due: none

update for release
  CHANGELOG.md
  CITATION.cff
  README.md
Due: none

add details on NotImplementedError exceptions
  spyrmsd/optional/rdkit.py
Due: black, flake8, mypy

remove versioneer
  MANIFEST.in
  setup.cfg
  setup.py
  spyrmsd/__init__.py
  spyrmsd/_version.py
  spyrmsd/optional/__init__.py
  versioneer.py
Due: black, flake8, mypy

fix warning
  tests/conftest.py
Due: black, flake8, mypy

fix tests with pytest 8
  tests/test_benchmarks.py
  tests/test_graph.py
Due: black, flake8, mypy

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
  mypy: any of: \.py$
