Repository RMeli/spyrmsd: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: black
    name: black .
    stages: [commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry: flake8
    types: [python]
    exclude: setup.py

  - id: mypy
    name: mypy
    stages: [commit]
    language: system
    entry: mypy
    types: [python]
    pass_filenames: false

add slow tests marker
  .appveyor.yml
  .travis.yml
  setup.cfg
  tests/conftest.py
  tests/test_benchmarks.py
Due: black, flake8, mypy

list of contributors linked on README
  README.md
Due: none

remove again ligands with wrong connectivity
  spyrmsd/io.py
  tests/data/docking/1a4w/1a4w_dock.sdf
  tests/data/docking/1a4w/1a4w_ligand.sdf
  tests/data/docking/1a4w/obrms-min.dat
  tests/data/docking/1a4w/obrms.dat
Due: black, flake8, mypy

fix doc link
  README.md
Due: none

make openbabel and RDKit completely optional
  spyrmsd/io.py
Due: black, flake8, mypy

reset graph when stripping
  spyrmsd/molecule.py
Due: black, flake8, mypy

changed name to symmrmsd
  spyrmsd/rmsd.py
  spyrmsd/spyrmsd.py
  tests/test_benchmarks.py
  tests/test_rmsd.py
Due: black, flake8, mypy

updated readme
  README.md
Due: none

update readme
  README.md
  setup.py
  spyrmsd/graphs/__init__.py
Due: black, flake8, mypy

fix benchmarks
  tests/test_benchmarks.py
Due: black, flake8, mypy

fix linters
  setup.py
  spyrmsd/graphs/nx.py
  tests/test_benchmarks.py
Due: black, flake8, mypy

update docs
  docs/source/api/spyrmsd.graphs.gt.rst
  docs/source/api/spyrmsd.graphs.nx.rst
  docs/source/api/spyrmsd.graphs.rst
  docs/source/api/spyrmsd.rst
Due: none

updated license
  LICENSE
Due: none

uniform sub-packages documentation
  spyrmsd/graphs/gt.py
  spyrmsd/graphs/nx.py
  spyrmsd/optional/obabel.py
  spyrmsd/optional/rdkit.py
Due: black, flake8, mypy

fix flake8 and mypy
  spyrmsd/graphs/gt.py
  spyrmsd/graphs/nx.py
  spyrmsd/rmsd.py
Due: black, flake8, mypy

small tutorial
  docs/source/index.rst
  docs/source/tutorials/molecules/1a4k_dock.sdf
  docs/source/tutorials/molecules/1a4k_ligand.sdf
  docs/source/tutorials/tutorial.ipynb
  docs/source/tutorials/tutorial.rst
Due: none

prepare version 0.3.0
  README.md
Due: none

uniform rmsd arguments
  spyrmsd/rmsd.py
  spyrmsd/spyrmsd.py
  tests/test_benchmarks.py
  tests/test_rmsd.py
Due: black, flake8, mypy

updated doc
  spyrmsd/rmsd.py
Due: black, flake8, mypy

updated tutorial
  docs/source/tutorials/tutorial.ipynb
  docs/source/tutorials/tutorial.rst
Due: none

load molecules directly to spyrmsd
  spyrmsd/graphs/gt.py
  spyrmsd/graphs/nx.py
  spyrmsd/io.py
Due: black, flake8, mypy

added tests
  tests/test_io.py
Due: black, flake8, mypy

fix test
  tests/test_io.py
Due: black, flake8, mypy

add adjacency matrix keyword
  spyrmsd/io.py
Due: black, flake8, mypy

use new loadmol in spyrmsd
  spyrmsd/spyrmsd.py
Due: black, flake8, mypy

fix single-model PDB file
  spyrmsd/optional/obabel.py
Due: black, flake8, mypy

add test for problematic single model PDB case
  tests/data/molecules/1a99_ligand.pdb
  tests/test_io.py
Due: black, flake8, mypy

fix flake8
  spyrmsd/optional/obabel.py
  tests/test_io.py
Due: black, flake8, mypy

add minimu nx version
  devtools/conda-envs/spyrmsd-all.yaml
  devtools/conda-envs/spyrmsd-docs.yaml
  devtools/conda-envs/spyrmsd-test-obabel-nx.yaml
  devtools/conda-envs/spyrmsd-test-rdkit-nx.yaml
  setup.py
Due: black, mypy

clean setup.py
  setup.py
Due: black, mypy

Update README
  README.md
  devtools/README.md
Due: none

add conda installation instructions
  README.md
Due: none

GitHub action for testing
  .github/workflows/pythonapp.yml
Due: none

Update and rename pythonapp.yml to test.yml
  .github/workflows/test.yml
Due: none

conda env creation
  .github/workflows/test.yml
Due: none

error message when file is not found
  spyrmsd/spyrmsd.py
Due: black, flake8, mypy
