Repository RMeli/spyrmsd: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy

black:
  name: black .
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: mypy
  pass_filenames: false

update docs readme
  docs/README.md
Due: none

fix doc build badge
  README.md
Due: none

fix path to code in docs
  docs/source/conf.py
  docs/source/index.rst
Due: black, flake8, mypy

requirements.txt for doc
  docs/conf.py
  docs/requirements.txt
Due: black, flake8, mypy

readthedocs yml file with conda
  .readthedocs.yml
Due: none

reduce requirements for docs build
  .readthedocs.yml
  devtools/conda-envs/spyrmsd-docs.yaml
  docs/requirements.txt
Due: none

remove old conf.py docs file
  docs/conf.py
  docs/source/conf.py
Due: black, flake8, mypy

fix docs conf path
  .readthedocs.yml
Due: none

appveyor build status
  README.md
Due: none

cleanup
  .appveyor.yml
  .pre-commit-config.yaml
Due: none

fix LGTM badge
  README.md
Due: none

obabel docs
  spyrmsd/optional/obabel.py
Due: black, flake8, mypy

rdkit docs
  spyrmsd/optional/obabel.py
  spyrmsd/optional/rdkit.py
Due: black, flake8, mypy

graph docs
  spyrmsd/graph.py
  spyrmsd/optional/obabel.py
  spyrmsd/optional/rdkit.py
Due: black, flake8, mypy

hungarian docs
  spyrmsd/hungarian.py
Due: black, flake8, mypy

molecule docs
  spyrmsd/molecule.py
Due: black, flake8, mypy

qcp docs
  spyrmsd/molecule.py
  spyrmsd/qcp.py
Due: black, flake8, mypy

rmsd docs
  spyrmsd/rmsd.py
Due: black, flake8, mypy

package dock
  docs/source/api.rst
  docs/source/api/spyrmsd.rst
Due: none

spyrmsd doc
  spyrmsd/__init__.py
  spyrmsd/spyrmsd.py
Due: black, flake8, mypy

utils docs
  spyrmsd/utils.py
Due: black, flake8, mypy

black, flake8, mypy and isort
  spyrmsd/hungarian.py
  spyrmsd/molecule.py
  spyrmsd/optional/obabel.py
  spyrmsd/optional/rdkit.py
  spyrmsd/qcp.py
Due: black, flake8, mypy

add zenodo badge
  README.md
Due: none

PyPI instructions
  README.md
Due: none

fix link to docs in PyPI
  setup.py
Due: black, mypy

PyPI badge
  README.md
Due: none

changed doc badge to develop
  README.md
Due: none

fix main function
  spyrmsd/spyrmsd.py
Due: black, flake8, mypy

add atomic number (atomicnum) attribute to nodes
  spyrmsd/graph.py
  spyrmsd/molecule.py
  tests/test_graph.py
  tests/test_molecule.py
Due: black, flake8, mypy

formatting
  spyrmsd/graph.py
  spyrmsd/molecule.py
  tests/test_graph.py
Due: black, flake8, mypy

add attribute matching in graph matching (untested)
  spyrmsd/graph.py
Due: black, flake8, mypy

pass atomic numbers where needed and silence warnings
  spyrmsd/graph.py
  spyrmsd/rmsd.py
  spyrmsd/spyrmsd.py
  tests/test_graph.py
  tests/test_pyrmsd.py
  tests/test_rmsd.py
Due: black, flake8, mypy

formatting
  spyrmsd/graph.py
  spyrmsd/rmsd.py
  spyrmsd/spyrmsd.py
  tests/test_pyrmsd.py
  tests/test_rmsd.py
Due: black, flake8, mypy

add pyridine as test molecule
  tests/data/molecules/pyridine.sdf
  tests/data/molecules/pyridine.xyz
  tests/molecules.py
Due: black, flake8, mypy

add test for atomic number matching
  tests/test_rmsd.py
Due: black, flake8, mypy

formatting
  spyrmsd/graph.py
  tests/test_rmsd.py
Due: black, flake8, mypy

update readme
  README.md
Due: none

fix typo
  README.md
Due: none

strip hydrogen atoms by default
  spyrmsd/spyrmsd.py
Due: black, flake8, mypy

allow graph isomorphism caching
  spyrmsd/rmsd.py
  spyrmsd/spyrmsd.py
  tests/test_pyrmsd.py
  tests/test_rmsd.py
Due: black, flake8, mypy

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
  mypy: any of: \.py$
