Repository RMeli/spyrmsd: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy

black:
  name: black .
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: mypy
  pass_filenames: false

cahce masses in molecule
  pyrmsd/molecule.py
Due: black, flake8, mypy

numpy vectorization of translations and rotations
  pyrmsd/molecule.py
  pyrmsd/utils.py
Due: black, flake8, mypy

added type annotations for molecule
  pyrmsd/molecule.py
Due: black, flake8, mypy

added comments to molecule
  pyrmsd/molecule.py
  pyrmsd/tests/molecules.py
Due: black, flake8, mypy

documentation for graph
  pyrmsd/graph.py
Due: black, flake8, mypy

pyrmsd module
  pyrmsd/molecule.py
  pyrmsd/pyrmsd.py
Due: black, flake8, mypy

verbose pyrmsd tool output and multiple input files
  pyrmsd/pyrmsd.py
Due: black, flake8, mypy

increase coverage
  pyrmsd/pyrmsd.py
  pyrmsd/tests/test_pyrmsd.py
Due: black, flake8, mypy

doc and type annotation in rmsd
  pyrmsd/rmsd.py
Due: black, flake8, mypy

cleanup
  .lgtm.yml
  .travis.yml
  appveyor.yml
Due: none

license
  README.md
Due: none

added usage to readme
  README.md
  pyrmsd/pyrmsd.py
Due: black, flake8, mypy

test loadall
  pyrmsd/data/molecules/1cbr_docking.sdf
  pyrmsd/tests/test_molecule.py
Due: black, flake8, mypy

refactoring openbabel out of molecule into io
  pyrmsd/graph.py
  pyrmsd/io.py
  pyrmsd/molecule.py
  pyrmsd/pyrmsd.py
  pyrmsd/tests/molecules.py
  pyrmsd/tests/test_graph.py
  pyrmsd/tests/test_molecule.py
Due: black, flake8, mypy

refactor tests out of pyrmsd
  setup.cfg
  tests/__init__.py
  tests/data/README.md
  tests/data/molecules/1cbr_docking.sdf
  tests/data/molecules/2viz_1.sdf
  tests/data/molecules/2viz_2.sdf
  tests/data/molecules/2viz_3.sdf
  tests/data/molecules/benzene.xyz
  tests/data/molecules/dialanine.sdf
  tests/data/molecules/ethanol.xyz
  tests/molecules.py
  tests/test_graph.py
  tests/test_hungarian.py
  tests/test_molecule.py
  tests/test_pyrmsd.py
  tests/test_qcp.py
  tests/test_rmsd.py
  tests/test_utils.py
Due: black, flake8, mypy

fix ci after refactoring
  .travis.yml
  appveyor.yml
Due: none

add checks to CI
  .travis.yml
  README.md
  appveyor.yml
Due: none

minimal conda env
  devtools/conda-envs/pyrmsd-test.yaml
Due: none

add isomorphism to qcp
  pyrmsd/rmsd.py
Due: black, flake8, mypy

fixed problem with chznging coordinates after centering
  pyrmsd/rmsd.py
Due: black, flake8, mypy

remove graph plotting to avoid cyclic import
  pyrmsd/graph.py
Due: black, flake8, mypy

test qcp isomorphic
  tests/data/molecules/1cbr_docking.sdf
  tests/data/molecules/1cbr_ligand.mol2
  tests/molecules.py
  tests/test_rmsd.py
Due: black, flake8, mypy

added proper test for isomorphic rmsd
  tests/test_rmsd.py
Due: black, flake8, mypy

add pdb files from MD traj
  tests/data/molecules/trp0.pdb
  tests/data/molecules/trp1.pdb
  tests/data/molecules/trp2.pdb
  tests/data/molecules/trp3.pdb
  tests/data/molecules/trp4.pdb
  tests/data/molecules/trp5.pdb
Due: none

add QCP test for small protein
  tests/molecules.py
  tests/test_rmsd.py
Due: black, flake8, mypy

comments
  pyrmsd/rmsd.py
Due: black, flake8, mypy

decoupled molecule from rmsd module
  pyrmsd/molecule.py
  pyrmsd/pyrmsd.py
  pyrmsd/rmsd.py
  pyrmsd/utils.py
  tests/test_rmsd.py
Due: black, flake8, mypy

rmsdwrapper
  pyrmsd/pyrmsd.py
  pyrmsd/rmsd.py
Due: black, flake8, mypy

rmsdwrapper
  pyrmsd/pyrmsd.py
Due: black, flake8, mypy

readme
  README.md
Due: none

cleanup
  README.md
  setup.py
Due: black, mypy

fix dummy test
  tests/test_graph.py
Due: black, flake8, mypy

test molecule to graph
  tests/test_molecule.py
Due: black, flake8, mypy

tests for rmsd wrapper
  pyrmsd/pyrmsd.py
  tests/test_pyrmsd.py
Due: black, flake8, mypy

comments on rmsdwrapper
  pyrmsd/pyrmsd.py
Due: black, flake8, mypy

refactor rmsd_dummy to rmsd_standard
  devtools/conda-envs/pyrmsd-all.yaml
  pyrmsd/pyrmsd.py
  pyrmsd/rmsd.py
  tests/test_rmsd.py
Due: black, flake8, mypy

test rmsdwrapper exceptions
  tests/test_pyrmsd.py
Due: black, flake8, mypy

update readme
  README.md
Due: none

refactor adjacency matrix automation
  pyrmsd/graph.py
  tests/test_graph.py
Due: black, flake8, mypy

simple bond perception in molecule
  pyrmsd/graph.py
  pyrmsd/molecule.py
Due: black, flake8, mypy

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
  mypy: any of: \.py$
