Repository RMeli/spyrmsd: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy

black:
  name: black .
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: mypy
  pass_filenames: false

update ci
  .github/workflows/flake8.yml
  .github/workflows/mypy.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pytest.yml
Due: none

add setuptools for python 12
  devtools/conda-envs/spyrmsd-all.yaml
  devtools/conda-envs/spyrmsd-docs.yaml
  devtools/conda-envs/spyrmsd-test-obabel-gt.yaml
  devtools/conda-envs/spyrmsd-test-obabel-nx.yaml
  devtools/conda-envs/spyrmsd-test-rdkit-gt.yaml
  devtools/conda-envs/spyrmsd-test-rdkit-nx.yaml
  devtools/conda-envs/spyrmsd.yaml
Due: none

setuptools in ci
  .github/workflows/flake8.yml
  .github/workflows/mypy.yml
Due: none

use miniconda, conda is missing from macos-14
  .github/workflows/pytest.yml
Due: none

miniforge
  .github/workflows/pytest.yml
Due: none

fixes
  .github/workflows/pytest.yml
Due: none

mamba
  .github/workflows/pytest.yml
Due: none

bump min python version
  pyproject.toml
  setup.py
Due: black, mypy

update changelog
  CHANGELOG.md
Due: none

Update build system to flit_core
  pyproject.toml
Due: none

Add entry to changelog
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Delete .gitattributes
  .gitattributes
Due: none

Delete .lgtm.yml
  .lgtm.yml
Due: none

Clean up tests by making use of fixtures
  tests/test_graph.py
  tests/test_molecule.py
Due: black, flake8, mypy

added "graph tool" as a recognized argument
  spyrmsd/rmsd.py
Due: black, flake8, mypy

Update graph.py to support set_backend function I also made a fuction to see the available backends and get the current backend
  spyrmsd/graph.py
Due: black, flake8, mypy

Apply private _available_backends suggestions from code review
  spyrmsd/graph.py
Due: black, flake8, mypy

Print warning when backend is already set + make sure we use _available_backends everywhere where possible
  spyrmsd/graph.py
Due: black, flake8, mypy

remove reliance on environment variables
  spyrmsd/graph.py
Due: black, flake8, mypy

make _validate_backend function print warning when a certain backend isn't installed
  spyrmsd/graph.py
Due: black, flake8, mypy

Use precommit hooks add __all__ back refactor _alias_backendDict to _alias_to_backend
  spyrmsd/graph.py
Due: black, flake8, mypy

Update ValueError message
  spyrmsd/graph.py
Due: black, flake8, mypy

Don't return the backend when setting it
  spyrmsd/graph.py
Due: black, flake8, mypy

Add dummy function to make mypy happy remove __all__ assignment
  spyrmsd/graph.py
Due: black, flake8, mypy

fist play with rustworkx backend
  spyrmsd/graph.py
  spyrmsd/graphs/rx.py
Due: black, flake8, mypy

update initializing the backend
  spyrmsd/graph.py
Due: black, flake8, mypy

Add caching support for multiple backends remove __all__ assignment from graph.py
  spyrmsd/graph.py
  spyrmsd/molecule.py
Due: black, flake8, mypy

reset the m.G to be an empty dict instead of being None (test_graph_from_atomic_coordinates_perceptio, line 170)
  tests/test_molecule.py
Due: black, flake8, mypy

Enable isort compatibility with black in pre-commit.yml Clean up graph.py
  .pre-commit-config.yaml
  spyrmsd/graph.py
Due: black, flake8, mypy

Added (conditional) test_backend test
  spyrmsd/__init__.py
  tests/test_graph.py
Due: black, flake8, mypy

Add CI test environment with both graph-tool and networkx
  .github/workflows/pytest.yml
  devtools/conda-envs/spyrmsd-test-rdkit-all.yaml
Due: none

Fix and cleanup CI tests
  .github/workflows/pytest.yml
  tests/test_graph.py
Due: black, flake8, mypy

Add testing for the new graph caching with multiple backends
  tests/test_graph.py
  tests/test_molecule.py
Due: black, flake8, mypy

exclude Windows and the all backends option for CI (since Windows doesn't support graph-tool)
  .github/workflows/pytest.yml
Due: none

update changelog and CITATION.cff
  CHANGELOG.md
  CITATION.cff
Due: none

Add functionality to select backend (#107)
  .github/workflows/pytest.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CITATION.cff
  devtools/conda-envs/spyrmsd-test-rdkit-all.yaml
  spyrmsd/__init__.py
  spyrmsd/graph.py
  spyrmsd/molecule.py
  tests/test_graph.py
  tests/test_molecule.py
Due: black, flake8, mypy

add documentation for backend selection
  README.md
  docs/source/tutorials/tutorial.ipynb
  docs/source/tutorials/tutorial.rst
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
  mypy: any of: \.py$
