Repository RMeli/spyrmsd: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy

black:
  name: black .
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: mypy
  pass_filenames: false

black flake8 and mypy setup
  .coveragerc
  .pre-commit-config.yaml
  devtools/scripts/create_conda_env.py
  docs/conf.py
  pyrmsd/__init__.py
  pyrmsd/_version.py
  pyrmsd/graph.py
  pyrmsd/molecule.py
  pyrmsd/tests/molecules.py
  pyrmsd/tests/test_graph.py
  pyrmsd/tests/test_molecule.py
  pyrmsd/tests/test_pyrmsd.py
  pyrmsd/tests/test_utils.py
  pyrmsd/utils.py
  setup.cfg
  setup.py
  versioneer.py
Due: black, flake8, mypy

boost coverage
  .coveragerc
  pyrmsd/pyrmsd.py
  pyrmsd/utils.py
Due: black, flake8, mypy

dumb rmsd
  pyrmsd/rmsd.py
  pyrmsd/tests/test_rmsd.py
Due: black, flake8, mypy

translate molecule
  pyrmsd/molecule.py
  pyrmsd/tests/test_molecule.py
  pyrmsd/tests/test_rmsd.py
Due: black, flake8, mypy

boost coverage
  .coveragerc
Due: none

require python 3.6 or higher
  setup.py
Due: black, mypy

molecule center of geometry
  pyrmsd/molecule.py
  pyrmsd/rmsd.py
  pyrmsd/tests/test_molecule.py
  setup.py
Due: black, flake8, mypy

attempt to fix windows build
  pyrmsd/molecule.py
Due: black, flake8, mypy

added ethanol
  pyrmsd/data/molecules/ethanol.xyz
  pyrmsd/tests/molecules.py
  pyrmsd/tests/test_molecule.py
  setup.py
Due: black, flake8, mypy

added dialanine and lowered covalent_bond_multiplier
  pyrmsd/data/molecules/dialanine.sdf
  pyrmsd/data/molecules/ethanol.xyz
  pyrmsd/graph.py
  pyrmsd/tests/molecules.py
  pyrmsd/tests/test_graph.py
Due: black, flake8, mypy

fix rotation with non-normalised axis and add test
  pyrmsd/tests/test_utils.py
  pyrmsd/utils.py
Due: black, flake8, mypy

renamed dummy rmsd calculation
  pyrmsd/rmsd.py
  pyrmsd/tests/test_rmsd.py
Due: black, flake8, mypy

implemented QCP method
  pyrmsd/qcp.py
  pyrmsd/tests/test_qcp.py
Due: black, flake8, mypy

updated readme with reference
  README.md
Due: none

list of all molecules
  pyrmsd/tests/molecules.py
Due: black, flake8, mypy

fixed qcp tests
  pyrmsd/qcp.py
  pyrmsd/rmsd.py
  pyrmsd/tests/test_qcp.py
  pyrmsd/tests/test_rmsd.py
Due: black, flake8, mypy

removed useless qcp coefficient c3
  pyrmsd/qcp.py
  pyrmsd/tests/test_qcp.py
Due: black, flake8, mypy

cleanup qcp rmsd function
  pyrmsd/qcp.py
Due: black, flake8, mypy

cleanup
  pyrmsd/qcp.py
Due: black, flake8, mypy

add dialanine test for qcp
  pyrmsd/tests/test_rmsd.py
Due: black, flake8, mypy

add lgtm badge
  README.md
Due: none

data cleanup
  pyrmsd/data/README.md
  pyrmsd/data/look_and_say.dat
Due: none

test dummy rmsd center
  pyrmsd/tests/test_rmsd.py
Due: black, flake8, mypy

add ipython to conda env
  devtools/conda-envs/pyrmsd.yaml
Due: none

accept array-like objects in Molecule constructor
  pyrmsd/molecule.py
Due: black, flake8, mypy

test molecule com
  pyrmsd/tests/test_molecule.py
Due: black, flake8, mypy

test named graph
  pyrmsd/tests/test_graph.py
Due: black, flake8, mypy

more test molecules
  pyrmsd/data/molecules/2viz_1.sdf
  pyrmsd/data/molecules/2viz_2.sdf
  pyrmsd/data/molecules/2viz_3.sdf
  pyrmsd/tests/molecules.py
Due: black, flake8, mypy

strip hydrogen atoms from molecule
  pyrmsd/molecule.py
  pyrmsd/tests/test_molecule.py
  pyrmsd/utils.py
Due: black, flake8, mypy

more rmsd tests (compared with pytraj)
  pyrmsd/rmsd.py
  pyrmsd/tests/test_rmsd.py
Due: black, flake8, mypy

test refactoring
  pyrmsd/tests/molecules.py
  pyrmsd/tests/test_graph.py
  pyrmsd/tests/test_molecule.py
  pyrmsd/tests/test_qcp.py
  pyrmsd/tests/test_rmsd.py
Due: black, flake8, mypy

gitignore cleanup
  .gitignore
Due: none

added sphinx to conda env
  devtools/conda-envs/pyrmsd.yaml
Due: none

utils doc
  pyrmsd/utils.py
Due: black, flake8, mypy

documentation
  docs/api.rst
  docs/autosummary/pyrmsd.graph.rst
  docs/autosummary/pyrmsd.molecule.rst
  docs/autosummary/pyrmsd.qcp.rst
  docs/autosummary/pyrmsd.rmsd.rst
  docs/autosummary/pyrmsd.utils.rst
Due: none

finished utils documentation
  pyrmsd/tests/test_utils.py
  pyrmsd/utils.py
Due: black, flake8, mypy

add doi to readme
  README.md
Due: none

hungarian algorithm for assignment problem
  pyrmsd/hungarian.py
  pyrmsd/qcp.py
  pyrmsd/rmsd.py
  pyrmsd/tests/test_hungarian.py
  pyrmsd/tests/test_rmsd.py
Due: black, flake8, mypy

added reference to readme
  README.md
Due: none

update hungarian algorithm to match by atom types
  pyrmsd/hungarian.py
  pyrmsd/rmsd.py
Due: black, flake8, mypy

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
  mypy: any of: \.py$
