Repository RMeli/spyrmsd: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: black
    name: black .
    stages: [commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry: flake8
    types: [python]
    exclude: setup.py

  - id: mypy
    name: mypy
    stages: [commit]
    language: system
    entry: mypy
    types: [python]
    pass_filenames: false

fix miniconda installation
  .github/workflows/test.yml
Due: none

activate environment
  .github/workflows/test.yml
Due: none

fix name of conda env
  .github/workflows/test.yml
Due: none

init shell for conda
  .github/workflows/test.yml
Due: none

add conda in the same way as travis-ci
  .github/workflows/test.yml
Due: none

fix conda path
  .github/workflows/test.yml
Due: none

remove python version
  .github/workflows/test.yml
Due: none

try conda init
  .github/workflows/test.yml
Due: none

try goanpeca/setup-miniconda@v1
  .github/workflows/test.yml
Due: none

Revert "try conda init"
  .github/workflows/test.yml
Due: none

hrmsd instead of rmsd_hungarian
  spyrmsd/rmsd.py
  tests/test_rmsd.py
Due: black, flake8, mypy

flake8 action
  .github/workflows/flake8.yml
Due: none

failing flake8 test
  spyrmsd/graph.py
Due: black, flake8, mypy

failing mypy linting
  .github/workflows/mypy.yml
  spyrmsd/graph.py
Due: black, flake8, mypy

single python version
  .github/workflows/mypy.yml
Due: none

mypy with multiple python versions
  .github/workflows/mypy.yml
  spyrmsd/graph.py
Due: black, flake8, mypy

flake8 with multiple python versions
  .github/workflows/flake8.yml
Due: none

flake8 and mypy badges
  README.md
Due: none

remove test action
  .github/workflows/test.yml
Due: none

GitHub Actions for Linting (#25)
  .github/workflows/flake8.yml
  .github/workflows/mypy.yml
  README.md
Due: none

added installation instructions to doc
  README.md
  docs/source/conf.py
  docs/source/index.rst
  docs/source/installation.rst
Due: black, flake8, mypy

prepare for new release
  README.md
  spyrmsd/molecule.py
Due: black, flake8, mypy

pypi automatic build
  .github/workflows/pypi.yml
Due: none

Update pypi.yml
  .github/workflows/pypi.yml
Due: none

fix pypi.yml
  .github/workflows/pypi.yml
Due: none

added conda version to readme
  README.md
Due: none

readme
  README.md
Due: none

update conda URL
  devtools/travis-ci/before_install.sh
Due: none

Prepare for new release
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pypi.yml
  README.md
Due: none

removed technical references from README
  README.md
Due: none

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

Update FUNDING.yml
  .github/FUNDING.yml
Due: none

due stub
  spyrmsd/due.py
Due: black, flake8, mypy

ignore duecredit info
  .gitignore
Due: none

add duecredit as optional
  setup.py
Due: black, mypy

ignore duecredit stub
  .coveragerc
Due: none

add package citation from zenodo
  spyrmsd/__init__.py
Due: black, flake8, mypy

add hungarian and qcp citations
  spyrmsd/due.py
  spyrmsd/hungarian.py
  spyrmsd/qcp.py
Due: black, flake8, mypy

import tests to generate report
  tests/__init__.py
  tests/test_import.py
Due: black, flake8, mypy

add credits script
  credits.sh
Due: none
